{:paths ["src"]
 :deps {io.replikativ/datahike {:mvn/version "0.2.1"}
        io.replikativ/datahike-leveldb {:mvn/version "0.1.0"}
        org.clojars.markus/clj-leveldb {:mvn/version "0.1.2.1"}
        com.hypirion/clj-xchart {:mvn/version "0.2.0"}}}
